Python Basics:
--------------

In [3]:
print('Hi')
print('Welcome')

Hi
Welcome

In [4]:
print(10)

10

Variable:
---------

In [6]:
a = 10

b = 2

print(a + b)

print(a - b)

12
8

DataType:
---------

In [12]:
age = 18

eamil = 'sara@gmail.com'

average = 90.5

married = False

print(age, type(age))

print(eamil, type(eamil))

print(average, type(average))

print(married, type(married))

18 <class 'int'>
sara@gmail.com <class 'str'>
90.5 <class 'float'>
False <class 'bool'>

Python Inputs:
--------------

In [15]:
age = int(input('Enter your age : '))

eamil = input('Enter your Gmail : ')

average = float(input('Enter your average : '))

married = bool(input('Enter your maritial status (True / False) : '))

print(age, type(age))

print(eamil, type(eamil))

print(average, type(average))

print(married, type(married))

Enter your age :  22
Enter your Gmail :  admin@gmail.com
Enter your average :  55.5
Enter your maritial status (True / False) :  False

22 <class 'int'>
admin@gmail.com <class 'str'>
55.5 <class 'float'>
True <class 'bool'>