Python Operators:
-----------------

1. Arithmatic Operators
2. Arithmatic Assignment Operaotrs
3. Comparision Operators
4. Logical Operators
5. in, not in
6. is, is not
7. Bitwise Operators

# 1. Arithmatic Operators
-------------------------
(+, -, *, /, %, **, //)

In [13]:
a = 7
b = 2

print('Addition : ', a + b)
print('Subtraction : ', a - b)
print('Multiplication : ', a * b)
print('Division : ', a / b) # Return quotient
print('Floor Division : ', a // b)
print('Modulas : ', a % b) # Return Remainder value
print('Exponentiation : ', a ** b) # 7 ** 2 --> 7 * 7

Addition :  9
Subtraction :  5
Multiplication :  14
Division :  3.5
Floor Division :  3
Modulas :  1
Exponentiation :  49

# Arithmatic Assignment Operaotrs
---------------------------------

1. Assignment Operaotrs - (=)
2. Arithmatic Assignment Operaotrs - (+=, -=, *=, /=, %=, **=, //=)

In [16]:
a = 10

print(a)

a += 1 # a = a + 1

print(a)

10
11

In [17]:
a = 10

print(a)

a -= 1 # a = a - 1

print(a)

10
9

# 3. Comparision Operators:
---------------------------

(==, !=, <, >, <=, >= )

In [11]:
print(10 == 10)

print(10 != 10)

print(10 < 10)

print(10 <= 10)

print(10 > 10)

print(10 >= 10)

True
False
False
True
False
True

# 4. Logical Operators:
-----------------------

(and, or, not)

In [12]:
# and

print((10 == 2))

print((10 < 15))

print((10 == 2) and (10 < 15))

False
True
False

In [13]:
# or

print((10 == 2))

print((10 < 15))

print((10 == 2) or (10 < 15))

False
True
True

In [17]:
# not

print((10 == 2))

print(not(10 == 2))

print((10 == 2) or (10 < 15))

print (not((10 == 2) or (10 < 15)))

False
True
True
False

# 5. in, not in:
----------------

In [23]:
studentNames = 'Sara'

print(studentNames, type(studentNames))

print('--------------------------------------')

studentNames = ['Sara', 'Ram', 'Sam', 'PR']

print(studentNames, type(studentNames))

print('--------------------------------------')

print('Sara' in studentNames)

print('Lara' in studentNames)

print('Lara' not in studentNames)

Sara <class 'str'>
--------------------------------------
['Sara', 'Ram', 'Sam', 'PR'] <class 'list'>
--------------------------------------
True
False
True

# 6. is, is not
---------------

In [29]:
a = 10
b = 10

print(id(a))
print(id(b))

print('------------------------------------')

print(a is b)

print(a is not b)

140717071344840
140717071344840
------------------------------------
True
False

# 7. Bitwise Operators:
-----------------------

(&, |, ^, ~, left shift Operator, , right shift Operator)

In [32]:
'''
0 = False
1 = True

Bitwise & Operators(and) - Any One is False then Everything is false
'''

a = 10 # -- 1010 
b = 2  # -- 0010
#----------------
#           0010

print(a & b)

2

In [33]:
'''
0 = False
1 = True

Bitwise | Operators(or) - Any one is true everything is true
'''

a = 10 # -- 1010 
b = 2  # -- 0010
#----------------
#           1010

print(a | b)

10

In [34]:
'''
0 = False
1 = True

Bitwise ^ Operators(Xor) - Both values have true then return false
'''

a = 10 # -- 1010 
b = 2  # -- 0010
#----------------
#           1000

print(a ^ b)

8

In [36]:
'''
Bitwise Not Operators(~)

a = 10

~a = -(a + 1)
~10 = -(10 + 1)
    = -11
'''

a = 10

print(a)

print(~a)

print(~(-19))  # (-(-19 + 1)) -- (-(-18)) -- 18

10
-11
18

In [39]:
# left shift Operator
'''
a = 10

a << 2 --> 10 << 2 --> 10 * (2 * 2) --> 10(4) --> 40

10 << 3 --> 10 << 3 --> 10 * (2 * 2 * 2) --> 10(8) --> 80

'''

a = 10

print(a << 2)

print(10 << 3)

40
80

In [40]:
# right shift Operator
'''
a = 10

a >> 2 --> 10 >> 2 --> 10 / (2 * 2) --> 10/(4) --> 40

10 >> 3 --> 10 >> 3 --> 10 / (2 * 2 * 2) --> 10/(8) --> 80

'''

a = 10

print(a >> 2)

print(10 >> 3)

2
1