# IF:
-----

In [4]:
a = 20

print(a >= 18)

print('------------------------------------------------')

if (a >= 18):
    print(a, ' is above 18')

True
------------------------------------------------
20  is above 18

If & Else:
----------

In [6]:
a = 15

print(a >= 18)

print('------------------------------------------------')

if (a >= 18):
    print(a, ' is above 18')

else:
    print(a, ' is below 18')

False
------------------------------------------------
15  is below 18

If & Elif & Else:
-----------------

In [13]:
m1 = 100
m2 = 50
m3 = 95

total = m1 + m2 + m3

avg = int(total / 3)

print(avg)

print('----------------------------------------------------')

if avg >= 90 and avg <= 100:
    print(avg, ' have A Grade')

elif avg >= 80 and avg <= 90:
    print(avg, ' have B Grade')

elif avg >= 70 and avg <= 80:
    print(avg, ' have C Grade')

else:
    print(avg, ' have No Grade')

81
----------------------------------------------------
81  have B Grade

Nested If:
----------

In [19]:
m1 = 90
m2 = 95
m3 = 95

total = m1 + m2 + m3

avg = int(total / 3)

print('----------------------------------------------------')

if m1 >= 35 and m2 >= 35 and m3 >= 35:
    print('Total : ', total)

    print('Average : ', avg)

    if avg >= 90 and avg <= 100:
        print(avg, ' have A Grade')

    elif avg >= 80 and avg <= 90:
        print(avg, ' have B Grade')
    
    elif avg >= 70 and avg <= 80:
        print(avg, ' have C Grade')
    
    else:
        print(avg, ' have No Grade')

else:
    print('No Comments')

    if m1 <= 35:
        print(m1, ' Mark1 is below 35')

    if m2 <= 35:
        print(m2, ' Mark2 is below 35')

    if m3 <= 35:
        print(m3, ' Mark1 is below 35')

----------------------------------------------------
Total :  280
Average :  93
93  have A Grade