Set:
----

1. Set is Collection of Data Type
2. Can Store n number of values and can differen data type values in a single variable.
3. Declare {}.
4. Set Store the values - non Index based
5. Set are Mutable
6. Set can remove douplicate values

In [1]:
details = {101, 'sara', True, 98.5, 101, 'sara', 'Male'}

print(details, type(details))

{True, 98.5, 'Male', 101, 'sara'} <class 'set'>

In [2]:
# Set vaues can be store non index based

details = {101, 'sara', True, 98.5, 101, 'sara', 'Male'}

print(details, type(details))

print(details[0])

{True, 98.5, 'Male', 101, 'sara'} <class 'set'>

TypeError: 'set' object is not subscriptable

# add & update 
--------------

In [6]:
details01 = {10, 'Sara', 89.5}

print(details01)

details01.add('Male')

print(details01)

print('----------------------------------------')

details01 = {10, 'Sara', 89.5}

details02 = {10, 'Sara', 89.5, 'Male', 'TN', 9500912258}

details01.update(details02)

print(details01)

{89.5, 10, 'Sara'}
{89.5, 10, 'Sara', 'Male'}
----------------------------------------
{9500912258, 10, 'TN', 'Male', 'Sara', 89.5}

# discard & Remove
------------------

In [8]:
details01 = {10, 'Sara', 89.5}

details01.discard(10)

details01.discard(101)

print(details01)

print('------------------------------')

details01 = {10, 'Sara', 89.5}

details01.remove(10)

details01.remove(101)

print(details01)

{89.5, 'Sara'}
------------------------------

KeyError: 101

Union, Intersect, Minus:
------------------------

In [14]:
a = {1, 2, 3, 4, 5, 1, 2, 3}

b = {4, 5, 1, 2, 6, 7, 8}

print('---------------------------------------')

print(a.union(b))

print('---------------------------------------')

print(a.intersection(b)) # common values

print('---------------------------------------')

print(a.symmetric_difference(b)) # Remaining values

---------------------------------------
{1, 2, 3, 4, 5, 6, 7, 8}
---------------------------------------
{1, 2, 4, 5}
---------------------------------------
{3, 6, 7, 8}