Python Object Oriented Programming Language:
--------------------------------------------

Class:
------

In [1]:
class Student:
    name = 'Sara'
    age = 22

In [3]:
print(Student.name)
print(Student.age)

Sara
22

Object:
------

In [5]:
class Student:
    name = 'name value'
    age = 0

In [7]:
# Object Creation

student01 = Student()
student01.name = 'Sara'
student01.age = 22

print(student01.name)

print(student01.age)

Sara
22

In [8]:
# Object Creation

student02 = Student()
student02.name = 'Ram'
student02.age = 25

print(student02.name)

print(student02.age)

Ram
25

Class Functions:
----------------

In [11]:
class Student:
    name = 'Sara'
    age = 22

    def display():
        print(Student.name, ' your age is ', Student.age)

In [12]:
Student.display()

Sara  your age is  22

Class Functions with object:
----------------------------

In [18]:
class Student:
    name = 'Sara'
    age = 22

    def display(self):
        print(self.name, ' your age is ', self.age)

In [19]:
student01 = Student()
student01.name = 'Dev'
student01.age = 25

student01.display()

Dev  your age is  25

# __init__ method:
------------------

Constructor method for value Initialization

In [26]:
class Student:
    def __init__(self, name, age):
        print('Value Assign to the Variable using __init__ method!..')
        self.name = name
        self.age = age

    def display(self):
        print(self.name, ' your age is ', self.age)

In [27]:
student01 = Student('Dev', 24)

student01.display()

Value Assign to the Variable using __init__ method!..
Dev  your age is  24

In [28]:
student02 = Student('Sam', 26)

student02.display()

Value Assign to the Variable using __init__ method!..
Sam  your age is  26

In [ ]:
'''
ToDay Work

To write the python code for below output using Class, Object, Functions

Call the Class Function

student02 = Student('Sara', 90, 90, 90)

student02.display()

-------------------------------------------------------

Output:
-------

Student Name: Sara
mark 01: 90
mark 02: 90
mark 03: 90

Total : 270
Avrage: 90

Grade: Sara have A Grade

'''