Python Inheritance:
-------------------

# 01. Single Inheritance:
-------------------------

In [7]:
class Father:
    fatherName = 'Larry'
    def play(self):
        print('Father have Skill with playing Cricket!..')

class Son(Father):
    def draw(self):
        print('Son have Skill with Drawing!..')

In [8]:
object01 = Son()

object01.draw()

print('Father Name is : ', object01.fatherName)
object01.play()

Son have Skill with Drawing!..
Father Name is :  Larry
Father have Skill with playing Cricket!..

# 02. Multiple Inhertance:
--------------------------

In [9]:
class Father:
    fatherName = 'Larry'
    def play(self):
        print('Father have Skill with playing Cricket!..')

class Mother:
    motherName = 'Sara'
    def cook(self):
        print('Mother have Skill with Cooking!..')

class Son(Father, Mother):
    def draw(self):
        print('Son have Skill with Drawing!..')

In [11]:
object01 = Son()

object01.draw()

print('Father Name is : ', object01.fatherName)
object01.play()

print('Mother Name is : ', object01.motherName)
object01.cook()

Son have Skill with Drawing!..
Father Name is :  Larry
Father have Skill with playing Cricket!..
Mother Name is :  Sara
Mother have Skill with Cooking!..

# 03. Multilevel Inheritance:
-----------------------------

In [13]:
class Father:
    fatherName = 'Larry'
    def play(self):
        print('Father have Skill with playing Cricket!..')

class Mother(Father):
    motherName = 'Sara'
    def cook(self):
        print('Mother have Skill with Cooking!..')

class Son(Mother):
    def draw(self):
        print('Son have Skill with Drawing!..')

In [14]:
object01 = Son()

object01.draw()

print('Father Name is : ', object01.fatherName)
object01.play()

print('Mother Name is : ', object01.motherName)
object01.cook()

Son have Skill with Drawing!..
Father Name is :  Larry
Father have Skill with playing Cricket!..
Mother Name is :  Sara
Mother have Skill with Cooking!..

In [ ]:
'''
Tomorrow Test:
--------------

1. Difference Between - List, Tuple, Set, Dictionary

2. Write the Examples of 4 Types Functions
        1. No Return Type with out Argument
        2. No Return Type with Argument
        3. Return Type with out Argument
        4. Return Type with Argument

3. Call the Variables, Functions Using Class & Objects
'''

In [ ]:
'''
ToDay Work
----------
To Write the Python Code for Below Output. Using Oops Concept

ATM Project:
------------

Enter your pin number: 1807

1. Balance Enquiry
2. Withdram amount
3. Deposite amount

1. Balance Enquiry

1807 - Rs. 10000

1. Balance Enquiry
2. Withdram amount
3. Deposite amount

2. Withdram amount

Enter your Withdram amount : 4000

Get your Amount Rs. 4000 Successfuly!..

1. Balance Enquiry
2. Withdram amount
3. Deposite amount

1. Balance Enquiry

1807 - Rs. 6000

1. Balance Enquiry
2. Withdram amount
3. Deposite amount

3. Deposite amount

Enter your Deposite amount : 2000

2000 Deposite Successfully!..

1. Balance Enquiry
2. Withdram amount
3. Deposite amount

1. Balance Enquiry

1807 - Rs. 8000

1. Balance Enquiry
2. Withdram amount
3. Deposite amount

4

Thank you Come Again with Valid Credential!..
'''