while Loop:
-----------

1. Value Initialization
2. Conditiona Checking
3. Value Increment

In [1]:
i = 0 # Value Initialization

while i <= 10: #Conditiona Checking
    print(i)

    i = i + 1 # Value Increment

0
1
2
3
4
5
6
7
8
9
10

# print Even Numbers:
---------------------

In [4]:
i = 0

while i <= 10: 
    print(i)

    i = i + 2

0
2
4
6
8
10

# Odd Number:
-------------

In [8]:
i = 1

while i <= 10: 
    print(i)

    i = i + 2

1
3
5
7
9

Break:
------

In [13]:
i = 0

while i <= 10: 
    print(i)

    if i == 5:
        print('Before Break')
        i = i + 1
        
        break
        
        print('After Break')

    i = i + 1

0
1
2
3
4
5
Before Break

Continue:
---------

In [14]:
i = 0

while i <= 10: 
    print(i)

    if i == 5:
        print('Before Break')
        i = i + 1
        
        continue
        
        print('After Break')

    i = i + 1

0
1
2
3
4
5
Before Break
6
7
8
9
10

Pass:
-----

In [15]:
i = 0

while i <= 10: 
    print(i)

    if i == 5:
        print('Before Break')
        i = i + 1
        
        pass
        
        print('After Break')

    i = i + 1

0
1
2
3
4
5
Before Break
After Break
7
8
9
10

For Loop:
---------

In [16]:
i = 0 # Value Initialization

while i <= 10: #Conditiona Checking
    print(i)

    i = i + 1 # Value Increment

0
1
2
3
4
5
6
7
8
9
10

In [18]:
# Default Value Intialization = 0
# Dafault Value Increment = 1

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [1]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [5]:
for i in range(1, 10, 2):
    print(i, end=', ')

1, 3, 5, 7, 9,

Today Work:
-----------

'''
How to write the python code for below sample output

Enter a Limit Value : 10

Odd Numbers:
1, 3, 5, 7, 9

Even Numbers:
0, 2, 4, 6, 8, 10
'''

For Loop Example:
-----------------

In [4]:
n = 2

for i in range(n):
    name = input('Enter your name : ')
    age = int(input('Enter Your age : '))

    print(name, ' your age is ', age)
    print('--------------------------------------------------------')

Enter your name :  s1
Enter Your age :  21

s1  your age is  21
--------------------------------------------------------

Enter your name :  s2
Enter Your age :  22

s2  your age is  22
--------------------------------------------------------

Nested Loop (Loop Pattern): 
---------------------------

In [10]:
'''
step 01:

i = 1 OuterLoop
j = 0 Inner Loop
\n
j = 1 = i = 1 False

step 02:

i = 2
j = 0

j = 1 = i = 2
\n
j = 2 = i = 2 False

step 03:

i = 3
j = 0

j = 1 = i = 3

j = 2 = i = 3

j = 3 = i = 3 False

'''


for i in range(1, 6):
    for j in range(i):
        print(i, end=' ')
        
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [13]:
for i in range(1, 6):
    for j in range(1, i+1):
        print(j, end=' ')
        
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [17]:
for i in range(5, 0, -1):
    for j in range(i):
        print(i, end='')

    print('')

55555
4444
333
22
1

In [20]:
for i in range(5, 0, -1):
    for j in range(1, i+1):
        print(j, end='')

    print('')

12345
1234
123
12
1

In [23]:
print(65, chr(65))

print('B', ord('B'))

65 A
B 66

In [ ]:
A
AB
ABC
ABCD
ABCDE


54321
5432
543
54
5

12345
1234
123
12
1

In [ ]:
65,  67,  69, 71

A, C, E, ?