Python Function:
----------------
    Function is a block of code. which only runs when its called.

# 01. No Return type With Out Argument
--------------------------------------

In [5]:
# Create the function

def welcome():
    print('Welcome Python Functions')

In [6]:
# Call the Function

welcome()

welcome()

welcome()

Welcome Python Functions
Welcome Python Functions
Welcome Python Functions

In [7]:
def add():
    a = int(input('Enter value 01 : '))

    b = int(input('Enter value 02 : '))

    print(a, ' + ', b, ' = ', a + b)

In [8]:
add()

print('--------------------------------------------')

add()

Enter value 01 :  10
Enter value 02 :  11

10  +  11  =  21
--------------------------------------------

Enter value 01 :  22
Enter value 02 :  22

22  +  22  =  44

# 02. No Return Type With Argument:
-----------------------------------

In [9]:
# Create the Function

def add(a, b):
    print(a, ' + ', b, ' = ', a + b)

In [10]:
# call the cunction

add(10, 20)

print('----------------------------------------------------------')

add(11, 22)

10  +  20  =  30
----------------------------------------------------------
11  +  22  =  33

# 03. Return Type With out Argument:
------------------------------------

In [12]:
# Create the Function

def add():
    a = int(input('Enter value 01 : '))

    b = int(input('Enter value 02 : '))

    c = a + b

    return c

In [13]:
# Call the Function

print(add())

print('-------------------------------------------------------')

ans = add()

print(ans)

Enter value 01 :  21
Enter value 02 :  22

43
-------------------------------------------------------

Enter value 01 :  11
Enter value 02 :  21

32

# 04. Return Type With Argument:
--------------------------------

In [15]:
# Create the Function

def add(a, b):
    c = a + b
    
    return c

In [16]:
# Call the Function

print(add(10,20))

print('-------------------------------------------------------')

ans = add(21, 32)

print(ans)

30
-------------------------------------------------------
53

Function Methods:
-----------------

# 01. Arbitrary Argument Function:
----------------------------------

In [19]:
# Create the Function

def details(*detail):
    print(detail, type(detail))

In [20]:
# Call the Function

details(10, 'Sara', 26, 'FeMale')

(10, 'Sara', 26, 'FeMale') <class 'tuple'>

# 02. Key Word Argument Function:
---------------------------------

In [24]:
# Create the Function

def details(sid, name, age, gender):
    print(sid, ' Name is ', name, ' age is ', age, ' gender is ', gender)

In [25]:
# Call the Function

details(sid = 10, gender = 'FeMale', name = 'Sara', age = 26)

10  Name is  Sara  age is  26  gender is  FeMale

In [26]:
# Call the Function

details(10, 'FeMale', 'Sara', 26)

10  Name is  FeMale  age is  Sara  gender is  26

# 03 Key word Arbitrary Function:
---------------------------------

In [29]:
# Create the Function

def details(**detail):
    print(detail, type(detail))

    print('Name : ', detail['name'])

In [30]:
# Call the Function

details(sid = 10, gender = 'FeMale', name = 'Sara', age = 26)

{'sid': 10, 'gender': 'FeMale', 'name': 'Sara', 'age': 26} <class 'dict'>
Name :  Sara

# 04. Default Parameter Function:
---------------------------------

In [34]:
# Create the Function

def details(sid, name, age, gender, city = 'TN'):
    print(sid, ' Name is ', name, ' age is ', age, ' gender is ', gender, ' city is ', city)

In [35]:
# Call the Function

details(sid = 10, gender = 'FeMale', name = 'Sara', age = 26, city = 'Chennai')

10  Name is  Sara  age is  26  gender is  FeMale  city is  Chennai

In [36]:
# Call the Function

details(sid = 10, gender = 'FeMale', name = 'Sara', age = 26)

10  Name is  Sara  age is  26  gender is  FeMale  city is  TN

# 05 Pass the List Values:
--------------------------

In [37]:
# Create the Function

def details(detail):
    print(detail, type(detail))

In [39]:
# Call the Function

details([10, 'Sara', 26, 'FeMale'])

[10, 'Sara', 26, 'FeMale'] <class 'list'>

In [ ]:

'''

Today Work

1. Sample Output

Enter Value 01 : 20

Enter value 02 : 10

20 + 10 = 30
20 - 10 = 10
20 * 10 = 20
20 / 10 = 2

2. Sample Output

Enter the Limit value : 5

Enter the Table value : 2

1 X 2 = 2
2 X 2 = 4
3 X 2 = 6
4 X 2 = 8
5 X 2 = 10

3. Sample Output

call the Function

# Call the Function Using Keyword Arbitrary Argument Function

details(sid = 10, gender = 'FeMale', name = 'Sara', age = 26, city = 'Chennai')

Output:

Student ID : 10

Name & Age : Sara your age is 26 

Gender : FeMale

City : Chennai



'''